<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>


  <appender name="DAILY_ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${application.home:-.}/logs/application.log</File>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>logs/app.%d{yyyyMMdd}.log</FileNamePattern>
    </rollingPolicy>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC_DAILY_ROLLING" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="DAILY_ROLLING" />
  </appender>

  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />
  <logger name="com.jolbox.bonecp" level="WARN" />
  <logger name="slick.jdbc.JdbcBackend.statement"  level="DEBUG" />

    <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ASYNC_DAILY_ROLLING" />
  </root>

</configuration>
