
@* authorize Template File *@
@import qgd.middleware.models.Account
@import qgd.middleware.authorizationServer.forms.AuthorizeForm
@import qgd.middleware.authorizationServer.models.RequestAuthInfo

@(userOpt: Account, AuthForm: Form[RequestAuthInfo])(implicit messages: Messages)


@qgd.middleware.views.html.main("Authorize App", Option(userOpt)) {


    <p>Following app has requested access to your data.</p>

    @* @helper.form(action = qgd.authorizationServer.controllers.middleware.routes.Auth.authenticate()) { @*TODO need a controller send_auth here*@ @* TODO Uncomment *@

    <ul>
        <li>ClientId: <strong>@(AuthForm("client_id").value)</strong></li>
        <li>Redirect URI: <strong>@(AuthForm("redirect_uri").value)</strong></li>
        <li>Scope: <strong>@(AuthForm("scope").value)</strong></li>
    </ul>

    <input type="hidden" value="@(AuthForm("client_id").value)" name="client_id"/>
    <input type="hidden" value="@(AuthForm("redirect_uri").value)" name="redirect_uri"/>
    <input type="hidden" value="@(AuthForm("scope").value)" name="scope"/>
    <input type="hidden" value="@(AuthForm("state").value)" name="state"/>

    @helper.inputRadioGroup(AuthForm("accepted"),
        options=Seq("Y" -> "Yes", "N" -> "No"),
        '_label -> "Do you want to Authorize this App?",
        '_error -> AuthForm("accepted").error.map(
            _.withMessage("Select an option")))

    <input type="submit" value="Proceed"/>
    @* }  *@ @* TODO Uncomment *@



}